:root {
  --border: 3px solid #f0f0f0;
}

:root.light {
  --border: 3px solid #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    --border: 3px solid #1a1a1a;
  }

  :root.dark {
    --border: 3px solid #f0f0f0;
  }
}

#PFP {
  filter: none;
  width: 200px;
  height: 200px;
  margin: 13px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: var(--border);
}
