html {
  scrollbar-width: none;
}

:root {
  --dark: #1f1f1f;
  --mid: #2d2d2d;
  --light: #3d3d3d;
  --text: #9f9f9f;
  --icolor: invert(0.4);

  --radius: 8px;
  --margin: 16px;
}

:root.light {
  --dark: #f0f0f0;
  --mid: #e0e0e0;
  --light: #d0d0d0;
  --text: #333333;
  --icolor: none;
}
.mode {
  content: url("img/moon.svg");
}
:root.light .mode {
  content: url("img/sun.svg");
}

@media (prefers-color-scheme: light) {
  :root {
    --dark: #f0f0f0;
    --mid: #e0e0e0;
    --light: #d0d0d0;
    --text: #333333;
    --icolor: none;
  }
  :root.dark {
    --dark: #1f1f1f;
    --mid: #2d2d2d;
    --light: #3d3d3d;
    --text: #9f9f9f;
    --icolor: invert(0.4);
  }
  .mode {
    content: url("img/sun.svg");
  }
  :root.dark .mode {
    content: url("img/moon.svg");
  }
}

.mode {
  position: absolute;
  right: 20px;
  width: 20px;
  user-select: none;
}

body {
  font-family: "DejaVu Sans", sans-serif;
  background-color: var(--dark);
  color: var(--text);
}
a img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

h1 {
  font-size: 36px;
}
.head {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}
.head img {
  align-content: center;
  width: 30px;
  filter: var(--icolor);
}

.layout {
  display: flex;
  gap: 10px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main img {
  width: 30px;
  filter: var(--icolor);
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.sidebar {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mid);
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
  height: 750px;
  width: 40px;
  border-radius: var(--radius);
  margin-top: 16px;
  flex-shrink: 0;
  transition: width 0.25s ease;
  overflow: hidden;
}

.sidebar img {
  width: 30px;
  filter: invert(0.4);
}

.sidebar.expanded {
  width: 175px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}

.sidebar a span {
  opacity: 0;
  transition: opacity 0.15s ease 0s;
}

.sidebar.expanded a span {
  opacity: 1;
  transition: opacity 0.2s ease 0.15s;
}

.bottom-start {
  margin-top: auto;
}

.h-b1 {
  padding-left: 12px;
  width: calc(25% - 10px);
  height: 60vh;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.h-b2 {
  padding-left: 10px;
  width: calc(50% - 10px);
  height: 60vh;
  border-left: 1px solid var(--mid);
  border-right: 1px solid var(--mid);
  position: relative;
  margin-top: 10px;
}

.h-b3 {
  width: 25%;
  margin-top: 10px;
}

.h-bottom {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.h-bottom-left {
  padding-left: 10px;
  width: 50%;
  min-height: 200px;
}

.h-bottom-right {
  width: 50%;
  min-height: 200px;
}

.inner-box {
  background: var(--mid);
  border-radius: var(--radius);
  padding: 5px;
  width: 95%;
  height: 240px;
  align-items: center;
}

.nested-box {
  background: var(--light);
  border-radius: 8px;
  width: 100%;
  height: 75%;
  background-image: url(img/amna-opaque.svg);
  background-size: 100px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.sub-pages {
  display: flex;
  background: var(--mid);
  border-radius: var(--radius);
  width: calc(100% - 10px);
}

dt {
  padding: 10px;
}
dd {
  padding-bottom: 30px;
}

.notfound {
  padding: 20px;
}

footer {
  display: flex;
  font-size: 20px;
  gap: 6px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  filter: var(--icolor);
}

footer img {
  width: 30px;
}

footer a {
  text-decoration: none;
  color: var(--text);
  box-shadow: 0 1px 0 0;
}

/*____________________________________________________________
 --------------------- ID Specific ---------------------------
 ___________________________________________________________ */
